body{
  background-color: #D7D7D7;
}

h1{
  color: #805D5D;
  font-style: oblique;
  font-size: 70px;
  font-family: fantasy;
}

h2{
  color: #805D5D;
  font-size: 50px;
  font-family: fantasy;
}

h3{
  background-color: #5D4F78;
  color: white;
  font-size: 40px;
  font-style: italic;
  font-family: fantasy;
}

p{
  font-family: cursive;
  color: #4A1511;
}

a{
  font-size: 30px;
  color: black;
}

table{
  font-size: 30px;
}
